@model AnaOkuluYS.Models.EtkinlikTakvimi

@{
    ViewData["Title"] = "Etkinlik Detayları";
}

<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Etkinlik Detayları</h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@Model.Baslik</h6>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Baslik)</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Baslik)</dd>

                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Aciklama)</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Aciklama)</dd>

                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.BaslangicTarihi)</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.BaslangicTarihi)</dd>

                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.BitisTarihi)</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.BitisTarihi)</dd>

                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Renk)</dt>
                <dd class="col-sm-10">
                    <div style="width: 30px; height: 30px; background-color: @Model.Renk; border: 1px solid #ddd;"></div>
                </dd>

                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.OlusturulmaTarihi)</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.OlusturulmaTarihi)</dd>

                @if (Model.GuncellenmeTarihi.HasValue)
                {
                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.GuncellenmeTarihi)</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => model.GuncellenmeTarihi)</dd>
                }
            </dl>

            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Düzenle</a>
                <a asp-action="Index" class="btn btn-secondary">Geri Dön</a>
            </div>
        </div>
    </div>
</div> 